<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ead">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EAD">
        <activity
            android:name=".testActivity"
            android:exported="false" />
        <activity
            android:name=".common.SplashScreen"
            android:exported="true"></activity>
        <activity
            android:name=".FuelArrivalTime"
            android:exported="true"></activity>
        <activity
            android:name=".FuelStatus"
            android:exported="true" />
        <activity
            android:name=".ViewMembers"
            android:exported="true" />
        <activity
            android:name=".AddStationWorker"
            android:exported="true" />
        <activity
            android:name=".StationOwnerHome"
            android:exported="true" />
        <activity
            android:name=".StationOwnerProfile"
            android:exported="true">
        </activity>
        <activity
            android:name=".StationOwnerRegister"
            android:exported="true" />
        <activity
            android:name=".VehicleOwnerRegister"
            android:exported="true"></activity>
        <activity
            android:name=".VehicleOwnerProfile"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>